body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: chartreuse; */
}
.container {
    display: flex;
    /* width: 20%; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.box {
    text-align: center;
    margin: 10px;
    /* width: 25%; */
    /* background: lightblue; */
    /* Just so it's visible */
}
#symbol {
    width: 25%;
    /* Grow to rest of container */
    /* background: lightgreen; */
    /* Just so it's visible */
}
