body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: chartreuse; */
}
.container {
    display: flex;
    /* width: 20%; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.box {
    text-align: center;
    margin: 10px;
    /* width: 25%; */
    /* background: lightblue; */
    /* Just so it's visible */
}
#symbol {
    width: 25%;
    /* Grow to rest of container */
    /* background: lightgreen; */
    /* Just so it's visible */
}

.settings {
    font-size: 12px;
    font-weight: 700;
}

.text {
    margin: 6px;
}

.popup {
    color: black;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .my-button {
    height: 18px;
    margin: 5px;
  }
  
  .my-button:hover + .popup, .my-button:focus + .popup {
    display: block;
  }