<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">  
    <title>Test your multiplication tables!</title>
</head>



<body onload="pageLoad()">
    <div id="header"><h2>Test your multiplication tables!</h2></div>

    <div class="container">
        <div class="box"> <p id="int1">5</p> </div>
        <div class="box"> <p> x </p> </div>
        <div class="box"> <p id="int2">7</p> </div>
        <div class="box"> <p> = </p> </div>
    </div>

    <div id="header">
        <input type="number" name="answer" id="answer">
        <input type="submit" value="Enter" onclick="func()">
        <!-- <button type="submit" onclick="func()">Enter</button> -->
    </div>

    <div id="header">
        <p id="reply"></p>
        <p id="streak"></p>
    </div>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>